{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
   <table class="ui table">
      <tbody>
         <tr align="center" valign="center" >
            <td>
               <h2>BMI Tracker</h2>
               <p>Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and encourage you to keep going</p>
            </td>
            <td><img class="ui image" align="center" width ="400" src="https://cdn.glitch.com/dfd5d411-7136-4f92-b076-7e2cc1714fcd%2Ffitness1.png?v=1566390473592"></td>
         </tr>
         <tr>
            <td></td>
            <td></td>
         </tr>
         <tr>
         </tr>
      </tbody>
   </table>
</section>